.emacs.d/abbrev_defs
.emacs.d/ac-comphist.dat
.emacs.d/auto-save-list
.emacs.d/elpa
.emacs.d/eshell
.emacs.d/indium-chrome-profile
.emacs.d/lisp
.emacs.d/network-security.data
.emacs.d/org-clock-save.el
.emacs.d/recentf
.emacs.d/tramp
.emacs.d/transient
.emacs.d/url
.emacs.d/var
.emacs.d/.cache
.emacs.d/.lsp-session-v1
.emacs.d/.mc-lists.el
.emacs.d/.org-id-locations

/.emacs.d/request/
